<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="FirefoxTest">
  <parameter name="browser" value="FF"></parameter>
    <classes>
      <class name="com.testng.practise.ParallelExecution"/>
    </classes>
  </test> <!-- Test -->
  <test name="chromeTest">
  <parameter name="browser" value="chrome"></parameter>
  <classes>
      <class name="com.testng.practise.ParallelExecution"/>
    </classes>
  </test>
</suite> <!-- Suite -->
